:root {
  font-size: 16px;

  --serif: "Source Serif 4", serif;
}

body {
  margin: 0;
  font-family: "Source Sans 3", sans-serif;
  color: #efefef;
  background: #101010;
}

.link-style-button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  color: inherit;
  font: inherit;
  text-decoration: none;
}

.link-style-button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.form-row {
  display: flex;
  align-items: center;
  margin: 0.6em 1.2em;
}

.form-row label {
  margin-right: 0.6em;
}

.form-row input {
  flex-grow: 1;
}

input,
button {
  padding: 0.6em 1.2em;
  background: #202020;
  border: none;
  outline: none;
  font: inherit;
  color: inherit;
}

input:disabled,
button:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

button {
  cursor: pointer;
}

a {
  color: #5490ff;
}

.error {
  margin-left: 0.6em;
  color: #ff5454;
}

.form-row input:not(:last-child) {
  margin-right: 0.6em;
}

.hidden {
  display: none;
}

dialog {
  width: 45em;
  margin-top: 1.2em;
  padding: 0;
  border: none;
  background: #101010;
  color: inherit;
}

dialog::backdrop {
  background: rgb(0, 0, 0, 0.65);
}

.dialog-header {
  width: calc(100% - 2.4em);
  padding: 0.6em 1.2em;
  display: flex;
  background: #202020;
}
